<section fxLayoutGap="20px" fxLayout="row" *ngIf="question">
  <mat-card class="primary">
    <mat-card-title>Create Reply</mat-card-title>
    <mat-card-subtitle *ngIf="mode==='invited'">
      Invited by {{sharedService.getDeptName(question.asked_to)}}
    </mat-card-subtitle>
    <mat-card-content fxLayout="column" fxLayoutGap="10px">
      <form (ngSubmit)="sendReply(f)" #f="ngForm">
        <section>
          <app-question-details [ques]="question"></app-question-details>
        </section>
        <mat-form-field class="content">
          <textarea matInput placeholder="Reply" name="answer" [(ngModel)]="reply" rows="5"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="secondary" *ngIf="mode==='direct'&&question.is_collaborative">
    <mat-card-title>Invited Departments
    </mat-card-title>
    <mat-card-content fxLayout="column" fxLayoutGap="10px">
      <p *ngIf="question.collaborations.length===0">No invitations have been sent as of yet!</p>
      <ng-container *ngFor="let collab of question.collaborations;let i=index">
        <div fxLayout="column" fxLayoutGap="10px">
          <app-collab-details [collab]="collab"></app-collab-details>
        </div>
      </ng-container>
    </mat-card-content>
  </mat-card>
</section>

