<mat-card ngStyle.lt-sm="width:max-content" ngClass.xs="mobile-view">
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <mat-card-title>Login</mat-card-title>
    <mat-card-subtitle>Enter your email and Password to login</mat-card-subtitle>
    <mat-card-content fxLayout="column" fxLayoutGap="10px">
      <mat-form-field>
        <input matInput formControlName="username" placeholder="Your username">
        <mat-error *ngIf="!loginForm.get('username').value">Username shouldn't be empty</mat-error>
        <mat-error>Username is Invalid</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="Your Password">
        <mat-error *ngIf="!loginForm.get('password').value">Password shouldn't be empty</mat-error>
        <mat-error>Password is Invalid</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayout.xs="column">
      <button mat-raised-button type="submit" [disabled]="!loginForm.valid">Login</button>
      <button mat-raised-button type="button" color="warn" routerLink="/register" (click)="onRegister()">Register
      </button>
      <a role="button" fxFlex>Forgot Password?</a>
    </mat-card-actions>
  </form>
</mat-card>
