<mat-toolbar fxLayoutGap="40px">
  <img src="../../../assets/images/emblem.png" class="logo mr-10">
  <div class="nav-links mr-0">
    <span class="logo-text">Parliament Portal</span>
  </div>
  <div fxFlex class="nav-links mr-custom" fxLayoutGap="20px" fxLayoutAlign="center center" fxHide.lt-md>
    <img src="../../../assets/images/par.png" class="logo">
    <!--<a [routerLink]="authService.isAuthenticated()?'home':''" [routerLinkActive]="'active'"
       [routerLinkActiveOptions]="{'exact':'true'}">Home</a>
    <a *ngIf="authService.isAuthenticated()" routerLink="profile" [routerLinkActive]="'active'"
       [routerLinkActiveOptions]="{'exact':'true'}">Profile</a>
    <a routerLink="about" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{'exact':'true'}">About</a>
    <a routerLink="contact" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{'exact':'true'}">Contact</a>
    <a routerLink="help" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{'exact':'true'}">Help</a>
    <a mat-button color="primary" routerLink="create" [routerLinkActive]="'active'"
       [routerLinkActiveOptions]="{'exact':'true'}">Create</a>-->
  </div>
  <div class="nav-links" fxLayoutAlign="end" fxLayoutGap="10px" fxHide.lt-md>
    <a *ngIf="!authService.isAuthenticated()" (click)="modalService.openLoginModal()">Login</a>
    <a *ngIf="!authService.isAuthenticated()" routerLink="register" [routerLinkActive]="'active'"
       [routerLinkActiveOptions]="{'exact':'true'}">Register</a>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item routerLink="home">Home</button>
      <button mat-menu-item routerLink="profile">Profile</button>
      <button mat-menu-item (click)="authService.logout()">Logout</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu" *ngIf="authService.isAuthenticated()" matTooltip="Click Me!"
            [matTooltipPosition]="'before'">
      <!--{{profileService.userProfile.first_name}}-->
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
  <div fxFlex fxLayoutAlign="end" fxHide.gt-sm>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
