<mat-toolbar fxLayoutGap="50px">
  <div>Parliament Portal</div>
  <div fxFlex class="nav-links" fxLayoutGap="20px" fxLayoutAlign="center center" fxHide.lt-md>
    <a routerLink="" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{'exact':'true'}">Home</a>
    <a routerLink="about" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{'exact':'true'}">About</a>
    <a routerLink="contact" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{'exact':'true'}">Contact</a>
    <a routerLink="help" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{'exact':'true'}">Help</a>
    <button mat-button (click)="modalService.openInviteModal()">Test</button>
  </div>
  <div class="nav-links" fxLayoutAlign="end" fxLayoutGap="10px" fxHide.lt-md>
    <a *ngIf="!authService.isAuthenticated()" (click)="modalService.openLoginModal()">Login</a>
    <a *ngIf="!authService.isAuthenticated()" routerLink="register" [routerLinkActive]="'active'"
       [routerLinkActiveOptions]="{'exact':'true'}">Register</a>
    <a *ngIf="authService.isAuthenticated()" (click)="authService.logout()">Logout</a>
  </div>
  <div fxFlex fxLayoutAlign="end" fxHide.gt-sm>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
