<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push" position="end">
    <app-sidenav (sidenavClose)="sidenav.close()"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <ng-progress [showSpinner]="false" [color]="'#FFA726'"></ng-progress>
    <div class="container" [ngStyle]="{'padding':router.url==='/'?'50px 0 0 0':'100px 20px 20px 20px'}"
         [ngStyle.lt-md]="{'padding':router.url==='/'?'50px 0 0 0':'66px 5px 10px 5px'}"
         ngClass.xs="mobile-container"
         fxLayoutAlign="center space-around">
      <perfect-scrollbar>
        <router-outlet></router-outlet>
      </perfect-scrollbar>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

