@import "../variables";

mat-sidenav-container {
  width: 100vw;
  mat-sidenav {
    width: 50vw;
  }
}

.container {
  top: 64px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  height: calc(100vh - 64px);
  width: 100vw;
  background-color: $background;
}

.mobile-container {
  top: 56px;
  height: calc(100vh - 56px);
}
