<mat-card>
  <mat-card-title>Reset Password</mat-card-title>
  <mat-card-content>
    <mat-vertical-stepper [linear]="true" #stepper="matVerticalStepper">
      <!--verify username - only shown when mode is forgot-->
      <mat-step #checkUserStep editable="false" *ngIf="mode==='forgot'" label="Enter details">
        <form [formGroup]="checkUsernameFormGroup">
          <mat-form-field>
            <input matInput formControlName="username" placeholder="Your username">
            <mat-error *ngIf="!checkUsernameFormGroup.get('username').value">Username shouldn't be empty</mat-error>
            <mat-error>Username is Invalid</mat-error>
          </mat-form-field>
        </form>
        <div>
          <button mat-raised-button type="button" (click)="checkUser()">Next</button>
        </div>
      </mat-step>

      <!--otp component only shown when trigerring through forgot pwd-->
      <mat-step #otpStep editable="false" *ngIf="mode==='forgot'" label="Verify details">
        <app-otp (otpVerified)="otpDone($event)"></app-otp>
      </mat-step>
      <!--current pwd check only shown when changing from profile-->
      <mat-step [completed]="pwdCheckCompleted" editable="false" *ngIf="mode==='change'"
                [stepControl]="currentPasswordFormGroup">
        <form [formGroup]="currentPasswordFormGroup" fxLayout="column" fxLayoutGap="20px">
          <ng-template matStepLabel>Enter Your Current Password</ng-template>
          <section fxLayoutGap="10px">
            <mat-form-field>
              <input matInput type="password" placeholder="Current Password" formControlName="cur_password">
              <mat-error *ngIf="!currentPasswordFormGroup.get('cur_password').value">This shouldn't be empty</mat-error>
              <mat-error>Invalid value</mat-error>
            </mat-form-field>
          </section>
          <div>
            <button mat-raised-button type="button" (click)="checkPass()">Next</button>
          </div>
        </form>
      </mat-step>
      <!--reset pwd step-->
      <mat-step [stepControl]="resetPasswordFormGroup">
        <form [formGroup]="resetPasswordFormGroup">
          <ng-template matStepLabel>Select a new Password</ng-template>
          <section fxLayoutGap="10px">
            <mat-form-field>
              <input matInput type="password" formControlName="new_password" placeholder="New Password">
              <mat-error *ngIf="!resetPasswordFormGroup.get('new_password').value">Password shouldn't be empty
              </mat-error>
              <mat-error
                *ngIf="resetPasswordFormGroup.get('new_password')?.value && resetPasswordFormGroup.get('password')?.value.length<8">
                Password
                is Invalid
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password" formControlName="cnf_password" placeholder="Your Password">
              <mat-error *ngIf="!resetPasswordFormGroup.get('cnf_password').value">Confirm Password shouldn't be empty
              </mat-error>
              <mat-error
                *ngIf="resetPasswordFormGroup.get('cnf_password').value && resetPasswordFormGroup.get('cnf_password').errors&&resetPasswordFormGroup.get('cnf_password').errors['differentPasswords']">
                Passwords do not
                match
              </mat-error>
            </mat-form-field>
          </section>
          <div>
            <button mat-raised-button color="primary" type="submit" (click)="changePass()">Submit</button>
          </div>
        </form>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>
