.content {
  font-family: 'Montserrat', sans-serif !important;
  color: white;
  backface-visibility: hidden;
  font-size: 32px;
  font-weight: 400;
  text-shadow: 2px 2px #000000;
  margin: 15%;
  .head {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}
