<mat-card *ngIf="collab" fxLayout="column" fxLayoutGap="20px">
  <mat-card-title><h6>Depatment : {{sharedService.getDeptName(collab.invited_dept)}}</h6></mat-card-title>
  <mat-card-subtitle>
    Asked On : {{collab.asked_on|date:'short'}}
  </mat-card-subtitle>
  <mat-card-content>
    <p *ngIf="collab.rec_answer;else deadline"><b>Answered on : </b>{{collab.answered_on}}</p>
    <ng-template #deadline>
      <p><b>Not answered yet!</b></p>
    </ng-template>
    <p *ngIf="collab.rec_answer">
      <b>Answer : </b>{{collab.rec_answer}}
    </p>
  </mat-card-content>
</mat-card>
