<mat-grid-list cols="2" rowHeight="fit">
  <mat-grid-tile>Asked On : {{ques?.asked_on}}</mat-grid-tile>
  <mat-grid-tile *ngIf="ques?.answer">Answered on: {{ques?.answered_on}}</mat-grid-tile>
  <ng-template #deadline>
    <mat-grid-tile *ngIf="!ques?.answer">Deadline : {{ques?.deadline}}</mat-grid-tile>
  </ng-template>
  <mat-grid-tile [colspan]="2">
    Question :
    <p>{{ques?.content}}</p>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="ques?.answer" [colspan]="2">
    Answer:
    <p>{{ques?.answer}}</p>
  </mat-grid-tile>
</mat-grid-list>
