<section *ngIf="ques" fxLayout="column" fxLayoutGap="10px">
  <div><b>Asked On : </b>{{ques.asked_on|date:'short'}}</div>
  <p><b>Question : </b>{{ques.content}}</p>
  <div [ngSwitch]="mode" fxLayoutGap="20px" fxLayout="column">
    <div *ngSwitchCase="'arc_direct'">
      <div *ngIf="ques.answer">
        <b>Answered on: </b>{{ques.answered_on|date:'short'}}
      </div>
      <div *ngIf="ques.answer">
        <b>Answer : </b>
        <p>{{ques.answer}}</p>
      </div>
    </div>
    <div *ngSwitchCase="'arc_invited'">
      <div *ngIf="ques.collaborations[0].answered_on">
        <b>Answered on: </b>{{ques.collaborations[0].answered_on|date:'short'}}
      </div>
      <div *ngIf="ques.collaborations[0]">
        <b>Answer : </b>
        <p>{{ques.collaborations[0].rec_answer}}</p>
      </div>
    </div>
    <div *ngSwitchDefault><b>Deadline : </b>{{ques.deadline|date:'short'}}</div>
  </div>
</section>

